<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/img/favicon/favicon.ico">

		<title>百舌之声</title>

		<link href="/css/404.css" rel="stylesheet">
	</head>

	<body>
		<h1>404</h1>

		<div class="frame">
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="caps"></div>
		<canvas id="canvas"></canvas>

		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script>
			var Application = (function() {
				var canvas;
				var ctx;
				var imgData;
				var pix;
				var WIDTH;
				var HEIGHT;
				var flickerInterval;
				var init = function() {
					canvas = document.getElementById('canvas');
					ctx = canvas.getContext('2d');
					canvas.width = WIDTH = 700;
					canvas.height = HEIGHT = 500;
					ctx.fillStyle = 'white';
					ctx.fillRect(0, 0, WIDTH, HEIGHT);
					ctx.fill();
					imgData = ctx.getImageData(0, 0, WIDTH, HEIGHT);
					pix = imgData.data;
					flickerInterval = setInterval(flickering, 30);
				};
				var flickering = function() {
					for(var i = 0; i <
						pix.length; i += 4) {
						var color = (Math.random() * 255) + 50;
						pix[i] = color;
						pix[i + 1] = color;
						pix[i + 2] = color;
					}
					ctx.putImageData(imgData, 0, 0);
				};
				return {
					init: init
				};
			}());
			Application.init(); < /body>
		</script>

</html>