<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/img/favicon/favicon.ico">

		<title>百舌之声</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/core/bootstrap.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/css/core/jumbotron.css" rel="stylesheet">
		<link href="/js/lib/toast/toast.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">

	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">百舌之声</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="/">百舌之声</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">

					<!--菜单-->
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/">首页 <span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="/user/<%=username%>">我的百舌</a>
						</li>
					</ul>
					<% 
						if(!login){	
					%>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/login">登录</a>
						</li>
						<li>
							<a href="/register">注册</a>
						</li>
					</ul>
					<% 
					} else{
					%>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="">欢迎您 ！
								<%=username%>
							</a>
						</li>
						<li>
							<a href="personal">个人资料</a>
						</li>
					</ul>

					<% }%>

				</div>
				<!--/.navbar-collapse -->
			</div>
		</nav>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">

			<%if(!login){%>

			<div class="container">
				<h1>你好, 欢迎来到<span class="text-primary">百舌</span>!</h1>
				<p>
					百舌！ 百舌之声，这是一个可以说出你们的心声的平台。在这里你可以说出你现在的心情，说出你对当前实事的看法，说出你日常。
				</p>
				<p>
					<a class="btn btn-primary btn-lg" href="/login">登录 &raquo;</a>
				</p>
			</div>

			<% } else{%>

			<div class="container">
				<div class="col-md-2 headimg visible-md visible-lg">
					<img src="/avatar/mr.png">
					<a class="name-text">
						<%=username%>
					</a>
				</div>
				<!--<p class="col-md-10">
					<input type="text" id="yj-title-text" class="form-control" placeholder="我的标题"></input>
				</p>-->
				<p class="col-md-10">
					<textarea class="form-control" id="yj-content-text" rows="4" placeholder="我的内容"></textarea>
				</p>

				<div class="col-md-10">
					<a class="btn btn-primary" id="yj-publish-btn">发表 </a>
				</div>

			</div>
			<% }%>

		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row" id="yj-content">
			</div>

			<!--分页-->
			
			<nav aria-label="...">
				<ul class="pager">
					<li class="previous " name="" id="yj-previous-box">
						<a href="javascript:void(0)"  >&larr; 上一页</a>
					</li>
					<li class="next"  name=""  id="yj-next-box">
						<a href="javascript:void(0)" >下一页 &rarr;</a>
					</li>
				</ul>
			</nav>

			<hr>

			<footer>
				<p class="text-center">&copy; 2017 Personal, Inc.</p>
			</footer>
		</div>
		<!-- /container -->

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/lib/toast/toast.js"></script>
		<script src="/js/views/index.js"></script>

	</body>

</html>