.headimg img {
	width: 100%;
	min-height: 160px;
	max-height: 200px;
}

.name-text {
	display: block;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #333;
}

.name-text:active,
.name-text:hover {
	text-decoration: none;
	cursor: pointer;
}


.y-detail {
	display: block;
	margin-bottom: 20px;
	border-bottom: 1px solid #EEEEEE;
}

.y-detail-box {
	display: block;
	position: relative;
	height: 50px;
	overflow: hidden;
}

.y-detail-img {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.y-detail-img img {
	width: 100%;
	height: 100%;
}

.y-detail-text {
	display: block;
	height: 50px;
	margin-left: 60px;
}

.y-detail-name {
	display: block;
	margin-bottom: 7px;
	padding: 5px 0 0;
	color: #333;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 70%;
}

.y-detail-time {
	margin-bottom: 2px;
	color: #808080;
	text-decoration: none;
}

.y-detail-content {
	line-height: 20px;
	overflow: hidden;
	overflow-wrap: break-word;
	padding: 1px 0 3px;
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
	min-height: 60px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}





.name-text {
	display: block;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #333;
}

.name-text:active,
.name-text:hover {
	text-decoration: none;
	cursor: pointer;
}



.disabled a{
	pointer-events: none;
	color: #afafaf;
	cursor: default
}

.submit-btn{
	display: block;
	margin-top: 10px;
	margin-bottom: 0px;
}
